$ /tmp/debugger.log
ForceFlush
Format $time|$sev|$level|$tid|${name:-20}|${sfunc:-60}- $text
NeverIntrude

# All errors and warnings are enabled.
+ 20iI    100wWefEF  global

@ 50iI dbg
+ 10iI dbg_flex
+ 10iI dbg_bison
+ 10iI dbg_dwarf
+ 10iI dbg_client_cache
+ 10iI dbg_interpreter
+ 10iI dbg_ir
+ 10iI dbg_expr_engine
+ 10iI dbg_ast
+ 50iI dbg_agent
+ 50iI dbg_tgt
+ 50iI dbg_test
+ 10iI dbg_etbl
- 50iI dbg_sym
- 50iI cuda
@ 50iI ocl
@ 20iI api
@ 20iI ppa
@ 50iI TPS

+ 50iI  scan
- 50iI TPS_scan
- 50iI TPS_handshake
- 50iI TPS_System

